<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Hypr</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../../../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="../../../assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../../../assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="../../../assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../../../assets/css/default/style.min.css" rel="stylesheet" />
	<link href="../../../assets/css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="../../../assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
		
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="../../../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="../../../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="../../../assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
	<link href="../../../assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
	<link href="../../../assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
	<link href="../../../assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="../../../assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
	<link href="../../../assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
	<link href="../../../assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../../../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
	<link href="../../../assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="../../../assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="../../../assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="../../../assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="../../../assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
    <link href="../../../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
    <link href="../../../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
    <link href="../../../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../../../assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->

    <style>
    
        .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel]{
            display:block!important; 
            width: 380px !important;
        }
   
    </style>
</head>
<body class="pace-top bg-white">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image" style="background-image: url(../../../assets/img/login-bg/login-bg-9.jpg)"></div>
                <div class="news-caption">
                    <h4 class="caption-title"><b>Hypr</b></h4>
                    <p>
                       Number one e-commerce website.
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin register-header -->
                <h1 class="register-header">
                    Forgot Password
         
                </h1>
                <!-- end register-header -->
                <!-- begin register-content -->
                <div class="register-content">
                    <form id="reset-password-form" method="POST" class="margin-bottom-0">
                        <input type="text" class="form-control hide " placeholder="Email address" name="referralType" required  value="sign-in"/>
                        <input type="text" class="form-control hide" name="userId" required value="<%=userId%>" />

                        <label class="control-label">New Password <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="New Password" name="password" required  id="password" />
                            </div>
                        </div>
                 

                
                        <label class="control-label">Re-enter New Password <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="Re-enter new password"   name="confirm_password" required  />
                            </div>
                        </div>

                        

                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Change Password</button>
                        </div>
                      
                        <hr />
                        <p class="text-center">
                            Hypr 2022
                        </p>
                    </form>
                </div>
                <!-- end register-content -->
            </div>
            <!-- end right-content -->
        </div>
        <!-- end register -->
        
      
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../../../assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../../assets/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../../../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../../../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../../../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../../../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../../../assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="../../../assets/js/theme/default.min.js"></script>
	<script src="../../../assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->

    
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../../../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="../../../assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
	<script src="../../../assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
	<script src="../../../assets/plugins/masked-input/masked-input.min.js"></script>
	<script src="../../../assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="../../../assets/plugins/password-indicator/js/password-indicator.js"></script>
	<script src="../../../assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="../../../assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="../../../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="../../../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js"></script>
	<script src="../../../assets/plugins/jquery-tag-it/js/tag-it.min.js"></script>
    <script src="../../../assets/plugins/bootstrap-daterangepicker/moment.js"></script>
    <script src="../../../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="../../../assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="../../../assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../../assets/plugins/bootstrap-show-password/bootstrap-show-password.js"></script>
    <script src="../../../assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
    <script src="../../../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <script src="../../../assets/plugins/clipboard/clipboard.min.js"></script>
	<script src="../../../assets/js/demo/form-plugins.demo.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js" ></script>

	<script>
         
		$(document).ready(function() {
			App.init();     
          


	$('#reset-password-form').validate({	
		rules:{
   
            password:{required:true},
                 
            confirm_password:{required:true,equalTo:'#password'},
     

			},
		messages:{
      
            password:{required:"<div class='text-danger'>Please enter this required field</div>",email:"<div class='text-danger'>Please enter valid email</div>",},
            confirm_password:{required:"<div class='text-danger'>Please enter this required field</div>"},
            
			},
              
		submitHandler:function(){
                  
           
				Swal.fire({
					title: 'Changing the password...',
					html: 'Please wait for a while.',			
					timerProgressBar: true,
					didOpen: () => {

						Swal.showLoading()
                      // MLM
                   


					 $.ajax({
							url:location.origin + '/hypr-mobile/user/change-password',
							type:'post',					
							data:$("#reset-password-form").serialize(),
							success:function(response){                                                                
                          
                            if(response.status == true){

                                Swal.fire(
                                    `${response.message}`, 
                                    'Message',                                           
                                    'success'
                                    )
                              
                            }else{
                                Swal.fire(
                                    `${response.message}`, 
                                    'Message',                                           
                                    'error'
                                    )
                            }

                                           
                                      																												
							},
                            error:(error)=>{
                                console.warn(error)
                            }
							
						})
				}
			});
				
		
			
			
		}
	})
		});
	</script>
</body>
</html>
